.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  border-bottom: 1px solid #F1F2F6;
}
.h2{
     color: #404D61
}
.div{ 
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 10px;
}
.searchBox {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #e2e8f0;
  border-radius: 5px;
  padding: 8px 12px;
  height: 44px;
  position: relative;
  width: 470px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  .icon {
    font-size: 20px;
    color: #a0aec0;
    margin-right: 8px;
  }

  .input {
    border: none;
    outline: none;
    flex: 1;
    padding-left: 40px;
    font-size: 16px;
    color: #4a5568;

    &::placeholder {
      color: #a0aec0;
    }
  }

  .clearBtn{
    position: absolute;
    background: none;
    border: none;
    color: #a0aec0;
    font-size: 16px;
    right: 10px;
    top:8px;
    cursor: pointer;
  }
  .searchBtn{ 
    position: absolute;
    left: 10px; 
    top:7px;
    background: none;
    border: none;
    color: #a0aec0;
    font-size: 16px;
    cursor: pointer;
  }
}

.addEmployeeBtn {
  background-color: #5B6AD0;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  height: 44px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #4f46e5;
  }
}
