@font-face {
  font-family: "Roboto";
  src: url("./assets/font/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/font/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/font/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/font/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}

body{ 
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0; 
}
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
